@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  background-image: url(./assets/images/app-bg.jpg);
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

button, i {
  cursor: pointer;
}
d

.logo-container {
  margin: auto;
}

.logo-container img {
  display: block;
  margin: 100px auto 10px auto;
  width: 400px;
  max-width: 100%;
}

.logo-container p {
  font-size: min(max(40px), 10vw);
  font-weight: 700;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(228, 228, 228);
  text-shadow: 4px 4px 10px black;
}

.duel-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 20px;
  text-decoration: none;
  letter-spacing: 2px;
  background: linear-gradient(#6262ff, #5d78ff);
  color: whitesmoke;
  font-family: "Audiowide", sans-serif;
  font-size: 26px;
  font-weight: 700;
  border-radius: 10px;
  text-shadow: 2px 2px 10px black;
  box-shadow: 5px 5px 40px black;
}

.yugi-kaiba-bg {
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  z-index: -1;
  max-width: 100%;
  max-height: 320px;
}

.player1-container {
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 50%;
  width: 100vw;
  /* border: 5px solid red; */
}

.player2-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  height: 50%;
  width: 100vw;
  z-index: -1;
  /* border: 5px solid cyan; */
}

.game-options {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  top: 50%;
  width: 100%;
  height: 150px;
  /* background: green; */
  transform: translateY(-75px);
}

.game-options .reset-btn {
  height: 8vh;
  width: 8vh;
  background: #a82727;
  border-radius: 50%;
  color: whitesmoke;
  font-size: 5vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px black;
  transition: .3s;
}

.game-options .dice-btn, .game-options .coin-btn {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.game-options .coin-btn {
  margin-right: 50px;
  color: whitesmoke;
  transition: .5s;
}

.game-options .dice-btn {
  margin-left: 50px;
  color: whitesmoke;
  transition: .3s;
}

.game-options i:active {
  transform: scale(1.8);
}

.game-options i:nth-of-type(2n):active {
  transform: scale(1.4);
}

.p1-lifepoints, .p2-lifepoints {
  margin: 50px auto 0 auto;
  font-size: 4em;
  font-family: verdana;
  font-weight: 700;
  color: yellow;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4);
  overflow:visible;
}

.p1-operation, .p2-operation {
  position: absolute;
  display: flex;
  padding: 10px;
  gap: 10px;
  color: whitesmoke;
  font-size: 24px;
  bottom: 0;
  right: 0;
  
}

.p1-operation-container, .p2-operation-container {
  /* border: 5px solid yellow; */
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.p1-operation-container button,
.p2-operation-container button {
  margin: 10px 0 10px 0;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 16px 12px;
  color: whitesmoke;
}

.p1-pending-operation, .p2-pending-operation {
  display: flex;
  place-items: center;
  justify-content: center;
  /* border: 1px solid pink; */
  height: 60px;
  margin: 20px;
  width: 220px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  background: rgba(16, 16, 16, 0.4);
  color: #d3d3d3;
  text-shadow: 5px 5px black;
}

.p1-lifepoint-operations, .p2-lifepoint-operations {
  display: flex;
  gap: 10px;
}

.p1-lifepoint-operations button, .p2-lifepoint-operations button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 5px black;
  font-weight:400;
}

.submit-container {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.p1-submit-btn, .p2-submit-btn {
  font-size: 30px;
  color: whitesmoke;
  background: rgb(0, 174, 70);
  padding: 10px 14px;
  transition: .4s;
}

.p1-cancel-btn, .p2-cancel-btn {
  font-size: 30px;
  color: whitesmoke;
  background: rgb(185, 0, 0);
  padding: 10px 14px;
  transition: .4s;
}

.submit-container i:active {
  transform: scale(1.5);
}

.p1-submit-btn, .p1-cancel-btn, .p2-submit-btn,
.p2-cancel-btn {
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  text-shadow: 2px 4px 5px black;
}

.fa-plus, .fa-minus {
  padding: 4px 6px;
  border-radius: 20%;
  font-size: 25px;
  transition: .4s;
}

.p2-operation .fa-plus:active,
.fa-minus:active {
  transform: scale(1.5);
}

.fa-plus.active {
  background: rgb(0, 174, 70);
}

.fa-minus.active {
  background: rgb(185, 0, 0);
  /* Example color for active state */
  /* Add other styles to highlight the active state */
}

.p1-lifepoint-operations button, .p2-lifepoint-operations button {
  transition: .4s;
}
.p1-lifepoint-operations button.subtract, .p2-lifepoint-operations button.subtract {
  background: rgb(185, 0, 0);
}

.p1-lifepoint-operations button.add, .p2-lifepoint-operations button.add {
  background: rgb(0, 174, 70);
}